<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>IPCA</title>
</head>
<body>
    <form action="/ipca.html" method="post">
        <label for="periodicidade">Escolha a periodicidade:</label>
        <select id="periodicidade" name="periodicidade">
            <option value="mensal">Mensal</option>
            <option value="15">Quinzenal</option>
        </select>

        <label for="classificacao">Escolha a classificação:</label>
        <select id="classificacao" name="classificacao">
            <option value="grupo">Grupo</option>
            <option value="subgrupo">Subgrupo</option>
        </select>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>
