<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>IPCA de {{ data }}</title>
</head>
<body>
    A {{ per }} inflação de {{ data }} foi de {{ mm_txt }}% na comparação mensal e {{ yy_txt }}% na comparação anual. <br>
    O {{ classificacao }} que teve maior contribuição positiva foi {{ maior_grupo }} com {{ maior_valor_txt }}pp. O que teve {{ txt_menor }} foi {{ menor_grupo }} com {{ menor_valor_txt }}pp. <br> <br> 
    <a href="https://github.com/giovannacbs/ipca" target="_blank">Github do projeto</a>
</body>
</html>
